body {
    background: #363636;
    font-size: 14px;
    /* Smaller font size */
}

.view-options {
    display: flex;
    top: 5px;
    margin: 10px;
    height: 40px;
    right: 0px;
    padding: 4px;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    backdrop-filter: blur(50px);
    background: rgba(0, 0, 0, 0.683);
    font-family: "Comfortaa", sans-serif;
    transition: all 0.3s ease-in-out;
}

.view-options option {
    background: none;
    border: none;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    outline: none;
    align-items: center;
    justify-content: center;
}

.view-options option[selected] {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

.view-options option:hover {
    background: rgba(221, 221, 221, 0.372);
}

.view-options option[selected]:hover {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

#boxes {
    display: none;
}

.dropbox {
    flex: 3;
    /* 75% width */
    padding: 5px;
    /* Smaller padding */
    margin: 5px;
    /* Smaller margin */
    margin-top: 20px;
    /* Smaller top margin */
    border-radius: 20px;
    /* Smaller border radius */
    background-color: #202020;
    font-family: "Comfortaa", sans-serif;
    height: 50vh;
    /* Smaller height */
}

.second-column-box {
    flex: 0 1 calc(100% - 10px); /* Full width of the column */
    height: 100%;
}

.metrics {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 3;
    flex-direction: column; /* Arrange boxes in a column */
}

.container {
    display: flex;
    height: calc(100vh - 195px);
    padding: 10px;
    margin-bottom: 0px !important;
}

/* First column with 4 boxes */
.first-column {
    display: flex;
    flex-direction: column;
    flex: 1; /* Take equal space */
}

#observations {
    display: block;
}

#schools {
    display: flex;
}

.box {
    flex: 0 1 calc(22% - 30px); /* Make space for 4 boxes in column */
    margin: 5px;
    padding: 15px;
    border-radius: 30px;
    background-color: #282828;
    color: white;
    font-family: "Comfortaa", sans-serif;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(23.1vh - 57px);
}

/* Second column with 2 boxes */
.second-column {
    display: flex;
    flex-direction: column;
    flex: 1; /* Take equal space */
}

.second-column-box {
    flex: 0 1 calc(22% - 30px); /* Half height of the column */
}

.suggestions {
    background-color: #1D1D1D;
    flex: 0 1 calc(78% - 30px);
}

#green-method {
    background-color: #141414;
    flex: 0 1 calc(34% - 30px);
}

#dropbox.dragover {
    background-color: #2C2C2C;

    #upload-icon {
        color: white;
    }
}

#fileElem {
    display: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .dropbox {
        height: 300px;
        /* Adjust height for smaller screens */
        margin: 10px;
        /* Adjust margin for smaller screens */
    }
}

.location-container {
    flex: 1;
    /* 25% width */
    display: flex;
    position: relative;
    /* Changed to relative */
    margin-left: 10px;
    /* Smaller margin */
    height: calc(100% - 214px);
    /* Smaller height */
    z-index: 1;
}

.location-stats {
    position: absolute;
    margin-top: 10px;
    font-family: "Comfortaa", sans-serif;
    color: white;
    padding: 20px;
    border-radius: 20px;
    background: #2C2C2C;
    top: 545px;
    height: 215px;
    width: calc(100% - 40px);
    text-align: left;
}

.current-location {
    position: absolute;
    margin-top: 10px;
    font-family: "Comfortaa", sans-serif;
    color: white;
    padding: 10px;
    border-radius: 20px;
    background: #2C2C2C;
    top: 450px;
    height: 70px;
    width: calc(100% - 20px);
    font-family: Inter;
}

.stats-country {
    font-family: Inter;
    font-size: 20px;
}

.stats-text {
    text-align: left;
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 12px;
}

.invalid-text {
    text-align: center;
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 12px;
}

.location-text {
    font-size: 12px;
    text-align: center;
    color: #BCBCBC;
}

#search-box2 {
    left: 10px;
    width: 100%;
    border: none;
    height: 22px;
    outline: none;
    padding: 10px;
    font-size: 14px;
    color: white;
    border-radius: 20px 20px 0px 0px;
    background: rgba(0, 0, 0, 0.63);
    backdrop-filter: blur(250px);
    font-family: "Comfortaa", sans-serif;
    transition: all 0.1s ease-in-out;
}

#search-box2::placeholder {
    color: #D3D3D3;
    margin-left: 10px;
    font-family: "Comfortaa", sans-serif;
}

#search-box2:hover {
    background: rgba(0, 0, 0, 0.63);
}

#search-box2:focus {
    background: rgba(0, 0, 0, 0.63);
}

#map {
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    z-index: -1;
}

.pac-container {
    backdrop-filter: blur(250px);
    background: rgba(0, 0, 0, 0.63);
    border-radius: 0px 0px 20px 20px;
    font-family: "Comfortaa", sans-serif;
    margin-top: 0px;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none;
}

.pac-item {
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.076);
    border-radius: 15px;
    margin-top: 5px;
    padding: 7px;
    border: none;
    outline: none;
    color: rgb(202, 202, 202);
}

.pac-item:hover {
    margin-top: 5px;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.541);
    border-radius: 15px;
    margin-top: 5px;
    padding: 10px;
    border: none;
    outline: none;
}

.pac-item-selected {
    margin-top: 5px;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.541);
    border-radius: 15px;
    margin-top: 5px;
    padding: 10px;
    border: none;
    outline: none;
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
}

.pac-item-query {
    color: white;
}

.wrap {
    display: block;
    width: 69vw;
}

.ml16 {
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 0px;
    font-weight: 800;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    overflow: hidden;
    text-transform: uppercase;
    font-family: sans-serif;
}

.ml16 .word {
    display: inline-block;
    overflow: hidden;
    margin: 0 0.2em;
}

.ml16 .letter {
    display: inline-block;
    line-height: 0em;
}

.ml17 {
    color: #DEDEDE;
    margin: 0px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    overflow: hidden;
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
}

.ml17 .word {
    display: inline-block;
    overflow: hidden;
    margin: 0 0.2em;
}

.ml17 .letter {
    display: inline-block;
    line-height: 0.5em;
}

.large-prompt {
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
}

.small-prompt {
    margin: 5px;
    align-items: center;
    text-align: center;
    color: rgb(180, 180, 180);
    font-size: 14px;
}

#upload-icon {
    cursor: pointer;
    display: flex;
    position: relative;
    color: rgb(0, 0, 0);
    margin: 20px;
    margin-bottom: -20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 300px;
    font-weight: 100;
}

#explorer {
    color: #757575;
    cursor: pointer;
}

#explorer:hover {
    color: #626262;
}

#requirements {
    color: #424242;
    margin: 0px;
    margin-top: 70px;
    /* Smaller margin */
    justify-content: end;
    height: 105px;
}

@media (max-width: 500px) {
    #map {
        height: 50vw;
    }

    #idea {
        display: none;
    }

    .location-container {
        flex: 4;
    }

    .location-stats {
        top: 325px;
    }

    .current-location {
        top: 230px;
    }
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        /* Stack elements vertically */
        align-items: center;
        /* Center items horizontally */
        margin: 0px;
    }

    .location-container {
        flex: 3;
        width: 96vw;
        margin-top: 5px;
        margin-left: 0px;
    }

    .dropbox {
        flex: 1;
        margin: 0px;
        width: 96vw;
        height: 10px;
    }

    .ml16 {
        font-size: 25px;
        margin-left: 6px;
    }

    .wrap {
        width: 100vw;
    }

    .ml17 {
        margin: 0px;
        margin-left: 10px;
    }

    #upload-icon {
        font-size: 100px;
        margin: 0px !important;
    }

    .small-prompt {
        margin: 10px !important;
    }

}


a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}

.gmnoprint div {
    background: none !important;
}